.main {
    display: flex;
    margin-left: 40px;
    /*margin: auto;*/
    width: 40%;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin-top: 20px;
}


.container {
    display: block;
    align-content: center;
}

.main-top {
    display: flex;
}

.search-bar {
    padding-top: 200px;
    width: 1000px;
}