.main {
    display: flex;
    margin-left: 40px;
    /*margin: auto;*/
    width: 40%;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin-top: 40px;
}


.container {
    display: flex;
    align-content: center;
}